Magic 271485
Revision Verdi_U-2023.03-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 979 378 179 82

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/homes/user/stud/fall23/das2313/csee4824/csee4824-final-project/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 19543.089431 39543.089431
cursor 31500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 2
; marker line index
markerPos 15

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "icache_0"
activeDirFile "" "/homes/user/stud/fall23/das2313/csee4824/csee4824-final-project/inter.fsdb"
addSignal -h 15 /testbench/icache_0/clock
addSignal -h 15 /testbench/icache_0/reset
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/Imem2proc_response[3:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/Imem2proc_data[63:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/Imem2proc_tag[3:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/proc2Icache_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/proc2Imem_command[1:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/proc2Imem_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/icache_0/Icache_data_out[63:0]
addSignal -h 15 /testbench/icache_0/Icache_valid_out
addSignal -h 15 /testbench/icache_0/mshr[1]
addSignal -h 15 /testbench/icache_0/mshr[0]
addSignal -h 15 /testbench/icache_0/icache_data[31:0]
addSignal -h 15 /testbench/icache_0/addr_waiting
addSignal -h 15 /testbench/icache_0/changed_addr
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

